<div class="card flex row vercenter relative">
    <div class="gap flex row vercenter">
    <div class="songLogo"><img src="/pngs/icon.png" alt="" class="songLogoImage"></div>
    <div class="songName"><p class="songSource">Song Name</p></div>
    </div>
    <div class="threeDots">
        <img src="" class="currentSongCard relative">
        <button class="songCardMenu noBackground radius"><img src="/svgs/three dots.svg" alt="" class="threeDotsSvg"></button>
        <div class="songOptions absolute flex column  noDisplay">
            <hr>
            <button class="addSongToPlaylist songOptn noBackground noBorder ">Add To Playlist</button>
        </div>
</div>