<div class="playlistCard flex space-between ">
        <div class="gap column flex">
        <p class="playlistName">Playlist Name</p>
        <p class="playlistDesc">Plyalist Description</p>
        </div>
        <div class="threeDots"><button class="PlyalistOps noBackground radius"><img src="/svgs/three dots.svg" alt="" class="threeDotsSvg"></button>
        </div>
</div>