<div class="account flex column relative noDisplay">
    <button class="noBackground noBorder"><img src="/svgs/profileSvg.svg" alt="" class="profile"></button>
    <div class="accInfo absolute">
        <p class="fullName"></p>
        <p class="username"></p>
        <hr>
        <div class="accoptions flex column">
            <button   class="myPlaylists flex vercenter noBackground noBorder"><img src="/svgs/myPlaylists.svg" alt="">&nbsp;&nbsp;My Playlists</button>
            <button  class="myPreferences flex vercenter noBackground noBorder"><img src="/svgs/preferences.svg" alt="">&nbsp;&nbsp;My Preferences</button>
            <button  class="accSettings flex vercenter noBackground noBorder"><img src="/svgs/settings.svg" alt="">&nbsp;&nbsp;Account Settings</button>
            <button  class="feedback flex vercenter noBackground noBorder"><img src="/svgs/feedback.svg" alt="">&nbsp;&nbsp;Feedback</button>
            <button popovertarget="logoutConfPopOver" class="logout flex vercenter noBackground noBorder"><img src="/svgs/logout.svg" alt="">&nbsp;&nbsp;Logout</button>
        </div>
    </div>
</div>