<div class="addToPlistDiv  column ">
    <div class="flex row fullWidth vercenter spaceBetween">
        <h1>Playlists:</h1>
        <button class="cancelSongAddition relative noBackground noBorder fitHeight fitWidth">
            <img src="../svgs/cross.svg"  style="filter: invert(1); height: 1rem; top: 0px; right: 0px;" alt="" class="cancelSongAdditionSvg">
        </button>

    </div>

</div>