<div class="album flex column hover">
    <div class="albumbg1 albumbg">
        <button class="plays flex column vercenter horcenter absolute"><img src="/svgs/play.svg" alt="play button" class="playSvg"></button>
    </div>
    <div class="albumInfo flex column">
        <p class="albumname1 albumname">Album name</p>
        <p class="category">Album</p>
    </div>
</div>
