<div class="artist flex hover column">
    <div class="artistbg1 artistbg">
        <button class="plays flex column vercenter horcenter absolute"><img src="/svgs/play.svg" alt="play button" class="playSvg"></button>
    </div>
    <div class="artistInfo flex column">
        <p class="artistname1 artistname">Artist name</p>
        <p class="category">Artist</p>
    </div>
</div>