<div popover backdrop class="updatePass">
    <section class="flex column">
        <label>Email</label>
        <input type="text" placeholder="Enter registered email" class="resetEmail">
        <button class="continue">Continue</button>

    </section>
</div>