<footer>
    <div class="footerLogo"><img style="height: 2rem;" src="/pngs/icon.png" alt="company logo"></div>
<div class="copyright">
    <p><a href="" class="copyrightInfo">&copy2024 Cloymusic</a></p>
</div>
</footer>