<div popover backdrop id="logoutConfPopOver">
    <form action="index.ejs" class="logoutForm">
    <div class="flex column gap">
       <button type="button" popovertarget="logoutConfPopOver" popoveraction="hide" class="hidePopOver"><img src="/svgs/cross.svg" class="crossSvg" alt=""></button>
       <p style="color: black; font-size: 1.1rem;">Are you sure ?</p>
       <div class="confBtns flex flex-end gap">
           <button type="button" class="cancel">Cancel</button>
           <button type="submit" class="okLogout">Yes</button>
       </div>
    </div>
    </form>
</div>