<div class="playlist1 playlist flex column hover">
    <div class="playlistbg1 playlistbg">
        <button class="plays flex column vercenter horcenter absolute"><img src="/svgs/play.svg" alt="play button" class="playSvg"></button>
    </div>
    <div class="playlistInfo flex column">
        <p class="playlistname1 playlistname">Playlist name</p>
        <p class="category">Playlist</p>
    </div>
</div>
