<div class="userPlaylists fixed flex column noDisplay gap fullHeight fullWidth gap">
    <button class="radius closeParent fitWidth noBackground"><img src="/svgs/Back.svg" alt=""
        class="goBackSvg"></button>
    <h1>Your Playlists:</h1>
    <div class="playlistsContainer flex column horcenter  white"></div>
    <button class="addNew fitWidth">+</button>
</div>


 